{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Catalogue{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Petrona:ital,wght@0,100..900;1,100..900&family=Phetsarath:wght@400;700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'catalogue/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'catalogue/favicon.png' %}">
    </head>
  <body>
    <header class="banner">
      <h1 class="banner-title"><a href="/" class="banner-title logo">catalogue</a></h1>
      <nav class="navbar">
        {% if user.is_authenticated %}
          <a href="{% url 'logout' %}" class="navbar-connect-link">Se déconnecter</a>
        {% else %}
          <a href="{% url 'login' %}">Connexion</a> · <a href="{% url 'signup' %}" class="navbar-signup-link">Inscription</a>
        {% endif %}
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      {% block footer %}
      {% endblock %}
    </footer>
    {% block script %}
    {% endblock %}
  </body>
</html>
