{% extends 'catalogue/index.html' %}

{# Block for the sign-up invitation section #}
{% block sign_up_invitation %}
  <div class="sign-up-invitation" aria-labelledby="signup-invitation-title">
    <h2 class="sign-up-invitation-title" id="signup-invitation-title">Inscrivez-vous dès maintenant</h2>
    <!-- Link to the signup page -->
    <a href="{% url 'signup' %}" alt="bouton d'inscription" tabindex=0 role="button">S'inscrire</a>
  </div>
{% endblock %}

{# Block for the form title #}
{% block form_title %}Connexion{% endblock %}

{# Block for the login form #}
{% block form %}
  {% with button_text="Connexion" %}
    {# Include the login form partial and pass the button text #}
    {% include "catalogue/partials/forms.html" %}
  {% endwith %}
{% endblock %}
