{% extends 'catalogue/index.html' %}

{# Block for the form title #}
{% block form_title %}Inscription{% endblock %}

{% block form %}
  {# Pass a custom button text to the included login_form partial #}
  {% with button_text="S'inscrire" %}
    {% include "catalogue/partials/forms.html" %}
  {% endwith %}
  {# Link to return to the login page #}
{% endblock %}
{% block back_button %}
  <a href="{% url 'login' %}" class="login-submit-btn" alt="retour à la page d'accueil" tabindex=0 role="button">
    Retour
  </a>
{% endblock %}