:root {
    --bg-color: #f6f6f6e7;
    --fg-color: #151515;
    --logo-font: "Genos", sans-serif;
    --reg-font: "Phetsarath", serif;
    --petrona-font: "Petrona", serif;
    --urbanist-font: "Urbanist", sans-serif;
    --txt-shadow: 1px -1px 1px #000000, -1px 1px 1px #FFFFFF;
    --pop-color: #d82768;
    --border: 1px solid #000000;
    --rem: 16px;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: var(--rem);
    font-family: var(--reg-font);
    background: #00000050;
}

body {
    font-family: var(--reg-font);
    margin: 0;
    background-color: var(--bg-color);
    color: var(--fg-color);
}

.logo {
    font-family: var(--logo-font);
    color: var(--bg-color);
    text-decoration: none;
    font-style: italic;
    font-size: 3rem;
    text-shadow: 2px -2px 2px #00000060, -2px 2px 2px #FFFFFF60;
    animation: breathing 9s infinite ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--petrona-font);
    font-weight: 100;

}

@keyframes breathing {
    0% {
        font-weight: 100;
    }
    50% {
        font-weight: 900;
    }
    100% {
        font-weight: 100;
    }
}

header, footer {
    background-color: #50221b;
    background: linear-gradient(115deg, #50221b, #6d0701);
    color: var(--bg-color);
    padding: 1rem;
    text-align: center;
    width: 100vw;
}

a {
    margin: 0 1rem;
    color: var(--fg-color);
    text-decoration: none;
}

button {
    background-color: var(--fg-color);
    color: var(--bg-color);
    margin: 2vh auto;
    max-width: 50%;
}

select {
    padding-left: 1vw;
}

.navbar {
    max-width: 26vw;
    position: relative;
    margin-left: auto;
}

.navbar > a {
	color: var(--bg-color);
	text-transform: uppercase;
	/* background-color: #FFFFFF15; */
	padding: 0.6ch 2ch;
	/* border-radius: 10px;
	border: 1px solid #FFFFFF45; */
	/* color: #a4a4a4; */
	text-shadow: 1px -1px 1px #ffffff50, -1px 1px 1px #00000050;
	font-family: var(--urbanist-font);
	font-weight: 200;
	letter-spacing: 1px;
}

main {
    max-width: 80vw;
    min-height: 100vh;
    margin: 2rem auto;
    /* background: white; */
    background: transparent;
    /* background: linear-gradient(176deg, #ffffffff, rgba(109, 109, 109, 0.45) 47.9%, rgba(129, 129, 129, 0.29) 78.57%, #1414147a); */
    padding: 2rem;
    border-radius: 8px;
    /* border-radius: 15% 15% 17% 17%; */
    /* box-shadow: 0 0 8px rgba(0px 0px 1px #1b121250);
    box-shadow: inset -9px 12px 13px 6px #00000050; */
}

.login-page {
	display: flex;
	justify-content: space-around;
    height: 60vh;
}

.signup-invitation-container, .form-container {
    margin: 6vh auto;
}

.form-title {
	font-family: var(--petrona-font);
	font-weight: 100;
	text-align: center;
	font-size: 24px;
}

.form-title form p > label {
	font-weight: 400;
	font-size: 16px;
}

form p > input {
    background-color: var(--bg-color);
    font-family: var(--reg-font);
    font-size: 0.8rem;
    padding-inline: 1vw;
}

form span, form ul > li {
    font-size: 0.8rem;
    font-weight: 100;
}

textarea {
    width: 100%;
}

a.login-submit-btn {
    padding: 0.6rem 2rem;
    border: var(--border);
    border-radius: 13px;
    margin: 1vh auto;

}

form p > input {
    background-color: var(--bg-color);
    font-family: var(--reg-font);
    font-size: 0.8rem;
    padding-inline: 1vw;
    border-radius: 4px;
}
.form-title form p > label {
    font-weight: 600;
    font-size: 16px;
    font-family: var(--urbanist-font);
}
.login-page > .form-container {
    margin: 6vh auto;
    /* margin: 6vh auto; */
    max-height: 20vh;
    min-width: 30vw;
    display: flex;
    /* flex-direction: column; */
}

.artwork-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .artwork-container > h1 {
    text-align: center;
  }
  
  .artwork-container p {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 2vh auto;
  }
  
  .artwork-container p input, .artwork-container p select {
    border: var(--border);
    min-height: 3vh;
    background: var(--bg-color);
    background-color: var(--bg-color);
}

button.login-submit-btn {
    min-width: 100%;
    padding-block: 1vh;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: var(--urbanist-font);
    font-weight: 400;
    transition: transform 0.3s ease;
}

button.login-submit-btn:hover {
    transform: translateY(-4px);
}